{% extends "layout.html" %} {% block body %}
<h1>Register</h1>
<form method="POST" action="{{ url_for('auth_register') }}">
  <div class="from-group">
    {{ form.email.label }}
    {{ form.email(class="form-control") }}
    {% for error in form.email.errors %}
    <div class="card">
      <div class="card-body text-white bg-warning">
        {{ error }}
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="form-group">
    {{ form.username.label }}
    {{ form.username(class="form-control") }}
    {% for error in form.username.errors %}
    <div class="card">
      <div class="card-body text-white bg-warning">
        {{ error }}
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="form-group">
    {{ form.password.label }}
    {{ form.password(class="form-control") }}
    {% for error in form.password.errors %}
    <div class="card">
      <div class="card-body text-white bg-warning">
        {{ error }}
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="form-group">
    {{ form.confirm_password.label }}
    {{ form.confirm_password(class="form-control") }}
    {% for error in form.confirm_password.errors %}
    <div class="card">
      <div class="card-body text-white bg-warning">
        {{ error }}
      </div>
    </div>
    {% endfor %}
  </div>
  <center>
    <input type="submit" class="btn btn-success" value="Register" />
  </center>
</form>

{% endblock %}
