{% extends "layout.html" %} {% block body %}
<h1>Edit a recipe</h1>
<form
  method="POST"
  action="{{ url_for('recipe_update', recipe_id=recipe.id) }}"
>
  <div class="form-group">
    {{ form.name.label }}
    {{ form.name(class="form-control") }}
    {% for error in form.name.errors %}
    <div class="card">
      <div class="card-body text-white bg-warning">
        {{ error }}
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="form-group">
    {{ form.ingredients.label }}
    {{ form.ingredients(class="form-control", rows="4") }}
    {% for error in form.ingredients.errors %}
    <div class="card">
      <div class="card-body text-white bg-warning">
        {{ error }}
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="form-group">
    {{ form.recipetext.label }}
    {{ form.recipetext(class="form-control", rows="4") }}
    {% for error in form.recipetext.errors %}
    <div class="card">
      <div class="card-body text-white bg-warning">
        {{ error }}
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="form-group">
    {{ form.tips.label }}
    {{ form.tips(class="form-control", rows="3") }}
    {% for error in form.tips.errors %}
    <div class="card text-white bg-warning">
      <div class="card-body">
        {{ error }}
      </div>
    </div>
    {% endfor %}
  </div>
  <input
    type="submit"
    class="btn btn-success text-center"
    value="Confirm changes"
  />
</form>

{% endblock %}
