{% extends "layout.html" %} {% block body %}
<h1>All recipes</h1>
{% if not current_user.is_authenticated %}
<p>Login to vote!</p>
{% endif %} {% for recipe in recipes %}
<div class="card w-100 mb-3 card-block">
  <div class="card-body">
    <h5 class="card-title">
      <a href="/recipes/{{ recipe.id }}/">{{ recipe.name }}</a>
    </h5>
    <h6 class="card-subtitle mb-2 text-muted">
      By: {{ users[recipe.account_id - 1].username }}
    </h6>
    {% if commentcount[recipe.id] and commentcount[recipe.id] == 1 %}
    <p class="card-text">{{ commentcount[recipe.id] }} comment</p>
    {% elif commentcount[recipe.id] and commentcount[recipe.id] > 1 %}
    <p class="card-text">{{ commentcount[recipe.id] }} comments</p>
    {% else %}
    <p class="card-text">0 comments</p>
    {% endif %} {% if votes[recipe.id] and votes[recipe.id] == 1 %}
    <p class="card-text">{{ votes[recipe.id] }} votes</p>
    {% elif votes[recipe.id] and votes[recipe.id] > 1 %}
    <p class="card-text">{{ votes[recipe.id] }} votes</p>
    {% else %}
    <p class="card-text">0 votes</p>
    {% endif %}
  </div>
</div>
{% endfor %} {% endblock %}
