{% extends "layout.html" %} {% block body %}
<h1>Recipes</h1>
{% if not current_user.is_authenticated %}
<p>Login to vote!</p>
{% endif %}
<table>
  <tr>
    <th>By</th>
    <th>Name</th>
    <th>Steps</th>
    <th>Tips</th>
    <th>Votes</th>
  </tr>
  {% for recipe in recipes %} {% if recipe.public %}
  <tr>
    <td>{{ users[recipe.account_id - 1].username }}</td>
    <td>{{ recipe.name }}</td>
    <td>{{ recipe.recipe_text }}</td>
    <td>{{ recipe.tips }}</td>
    <td>{{ recipe.votes }}</td>
    <td>
      {% if current_user.is_authenticated %}
      <form
        method="POST"
        action="{{ url_for('recipe_vote', recipe_id=recipe.id) }}"
      >
        <input type="submit" value="Vote" />
      </form>
      <form
        method="GET"
        action="{{ url_for('recipe_delete', recipe_id=recipe.id) }}"
      >
        <input type="submit" value="Delete" />
      </form>
      {% endif %}
    </td>
  </tr>
  {% endif %} {% endfor %}
</table>

{% endblock %}
