{% extends "layout.html" %} {% block body %}
<div class="card mb-3">
  <div class="card-body">
<h1>{{ recipe.name }}</h1>
<h5>
  <p><i>By: {{ username }}</i></p>
  {% if votes == 1 %}
  <p><i>Somebody liked this recipe</i></p>
  {% else %}
  <p><i>{{ votes }} people liked this recipe</i></p>
  {% endif %}
</h5>
<div class="card bg-light mb-3">
    <div class="card-header">Ingredients</div>
    <div class="card-body">
      <p class="card-text">
        {{ recipe.ingredients }}
      </p>
    </div>
</div>
<div class="card bg-light mb-3">
  <div class="card-header">Recipe</div>
  <div class="card-body">
    <p class="card-text">
      {{ recipe.recipe_text }}
    </p>
  </div>
</div>
{% if recipe.tips %}
<div class="card bg-light mb-3">
  <div class="card-header">Tips</div>
  <div class="card-body">
    <p class="card-text">
      {{ recipe.tips }}
    </p>
  </div>
</div>
{% endif %}
{% if current_user.is_authenticated %}
<div class="btn-toolbar justify-content-between">
<div class="btn-group mb-3">
{% if not voted %}
<form
  method="POST"
  action="{{ url_for('recipe_vote', recipe_id=recipe.id) }}"
>
  <input type="submit" value="Vote" class="btn btn-success mr-2" />
{% else %}
<form>
  <button type="button" value="Vote" class="btn btn-success mr-2" disabled>Vote</button>
{% endif %}
</form>
{% if current_user.id == recipe.account_id %}
<form
  method="GET"
  action="{{ url_for('recipe_update', recipe_id=recipe.id) }}"
>
  <input type="submit" value="Edit" class="btn btn-info mr-2" />
</form>
</div>
<div class="btn-group">
<form
  method="GET"
  action="{{ url_for('recipe_delete', recipe_id=recipe.id) }}"
>
  <input type="submit" value="Delete" class="btn btn-danger float-right" />
</form>
{% endif %}
</div>
</div>
{% endif %}
</div>
</div>
<div class="card">
  <div class="card-body">
    <div class="card-title"><h4>Comments</h4></div>
    {% if comments %} {% for comment in comments %}
    <div class="card mb-3">
      <div class="card-body">
        <div class="row justify-content-between">
        <h5 class="card-title col-4">{{ users[comment.account_id - 1].username }}</h5>
        {% if current_user.id == comment.account_id %}
        <form
          method="GET"
          action="{{ url_for('comment_delete', comment_id=comment.id) }}"
          class="col-4"
        >
          <input type="submit" value="Delete" class="btn btn-danger float-right" />
        </form>
        {% endif %}
      </div>
        <h7 class="card-subtitle mb-2 text-muted">
          {{ comment.date_created }}
        </h7>
        <p class="card-text">
          {{ comment.text }}
        </p>
    </div>
</div>
    {% endfor %} {% else %}
    <p><i>No comments, why don't you write the first one?</i></p>
    {% endif %} {% if current_user.is_authenticated %}
    <form
      method="POST"
      action="{{ url_for('comment_create', recipe_id=recipe.id) }}"
    >
      <div class="form-group">
        {{ form.text(class="form-control rows=3") }}
        {% for error in form.text.errors %}
        <div class="card">
          <div class="card-body text-white bg-warning">
            {{ error }}
          </div>
        </div>
        {% endfor %}
      </div>
      <input type="submit" class="btn btn-success" value="Submit" />
    </form>
    {% else %}
    <i>Login to comment</i>
    {% endif %}
  </div>
</div>
{% endblock %}
